:root {
  --title-text: "Playwrite IT Moderna", cursive;
  --body-text: "Poppins", sans-serif;
  --color-one: #2e4374;
  --color-two: #4b527e;
  --color-three: #7c81ad;
  --color-four: #e5c3a6;
  --color-five: #824d74;
  --color-six: #be7b72;
  --color-seven: #fdaf7b;
  --grad-1: rgba(190, 123, 114, 0.7);
  --grad-2: rgba(229, 195, 166, 0.4);
  --color-title: white;
  --color-text: #;
}

body {
  text-align: center;
  font-family: var(--body-text);
  background-color: var(--grad-2);
}

a {
  color: var(--color-five);
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: var(--color-three);
}

form {
  padding: 30px;
  background-color: white;
  box-shadow: 0px 20px 60px var(--grad-1);
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

.instructions {
  padding: 16px;
  border: 1px solid var(--grad-1);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: var(--color-three);
}

.submit-button {
  margin-left: 10px;
  background: var(--color-six);
  color: var(--color-title);
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  font-size: 16px;
  background-color: #fff;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid var(--color-three);
  box-shadow: 0px 4px 30px 0px var(--grad-2);
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

@media (max-width: 768px) {
}
